* {
  margin: 0;
  padding: 0;
}
.background {
  background: linear-gradient(
    to top,
    rgb(252, 164, 213),
    red,
    #faca2e,
    green,
    hsl(240, 95%, 58%)
  );

  height: 300vh;
}
/*__________  icon   __________*/

.profile_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  overflow: hidden;
}
.profile_icon img {
  width: 200px;
  height: 200px;
  filter: invert();
}

/* mh profile */
.mh {
  background: url(img/36df6fc8-5d37-40ec-bf59-e9a013454cc4.jpg);
  /* border-radius: 126px 261px 0px 358px; */
  height: 65vh;
  background-repeat: no-repeat;
  background-size: 162%;
  background-position: -230px -292px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  color: rgb(197, 196, 196);
  position: relative;
}
.shadow_box {
  background-color: rgba(51, 49, 49, 0.628);
  /* border-radius: 261px 64px 10px 10px; */
  /* height: 90%; */
  width: 200px;
  text-align: center;
  padding: 20px;
  margin: 22px 17px 22px 22px;
  position: absolute;
  top: 173px;
}
.shadow_box h2 {
  font-size: 28px;
  font-weight: 700;
}
.shadow_box p {
  font-size: 20px;
  line-height: 1.4;
}
/* ay profile */
.ay {
  background: url(img/161bb3d4-3896-4968-91d2-103b3f18f605.jpg);
  margin-top: 250px;
  /* border-radius: 261px 126px 258px 0px; */
  justify-content: start;
  background-position: -12px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.ay .shadow_box {
  /* border-radius: 64px 261px 10px 10px; */
}
